.customclass-text{
    font-size: 15px !important;
    font-family: "Poppins" !important;
    font-weight: 700 !important;
}
.productcustom-product{
    font-size: 12px !important;
    font-family: "Poppins" !important;
    font-weight: 700 !important;

}